BROKER=localhost
PORT=1883
API_BASE_URL=http://<IP_DEL_SERVIDOR>:8000
API_KEY=<API_KEY_DEL_SERVIDOR>

# Kincony a64_prod
A64_HOST=192.168.0.103
A64_PORT=6053
A64_NOISE_KEY=<NOISE_KEY_A64_PROD>
A64_EXPECTED_NAME=produccion

# Kincony tank-mix
TANKMIX_HOST=192.168.0.102
TANKMIX_PORT=6053
TANKMIX_NOISE_KEY=<NOISE_KEY_TANK_MIX>
TANKMIX_EXPECTED_NAME=tank-mix

# Tiempos de actuación (segundos)
T_SUCCION=600
T_MB200=600
T_MBMIX=600
T_H2O_IN=300
T_OZ=300
T_DOSIFICACION=51
