BROKER=localhost
PORT=1883
API_BASE_URL=http://<IP_DEL_SERVIDOR>:8000
API_KEY=<API_KEY_DEL_SERVIDOR>

# Kincony KC868-A64
A64_HOST=192.168.0.103
A64_PORT=6053
A64_NOISE_KEY=<NOISE_KEY_DE_LA_PLACA>
A64_EXPECTED_NAME=produccion
SUCTION_DURATION_S=600
RETURN_DURATION_S=600
